
.appShell {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.mainContent {
    display: flex;
    flex-grow: 1;
    padding-top: 49px;
    min-height: 0;
   
    
}

.canvasContainer {
    flex-grow: 1;
    
    height: 100%;
    position: relative;
}

.detailsSidebar {
    flex-shrink: 0;
    
} 



